master localhost:8100
hosts  localhost:8120

var listlength    100
var list          4
var maxtasklength 10

bunch Generate		size	$list	range	$listlength	exec	Generate.py,swlib.py,client.py
bunch Join		size	$list	range	$listlength	exec	Join.py,swlib.py,client.py
bunch Process		size	$list	range	$listlength	exec	Process.py,swlib.py,client.py
bunch __Finish__	size	$list	range	$listlength	exec	__Finish__.py,swlib.py,client.py

route	__Start__	Generate
route	Generate	Process
route	Process		Join
route	Join:1		Join
route	Join:2		__Finish__
